.container
  width: 100%
  max-width: 1820px
  margin-right: auto
  margin-left: auto
  transition: max-width 0.3s ease, margin 0.3s ease

  @media (max-width: 1440px)
    margin-right: 20px
    margin-left: 20px

  @media (max-width: 768px)
    margin-right: 16px
    margin-left: 16px

  @media (max-width: 576px)
    margin-right: 16px
    margin-left: 16px

  @media (max-width: 470px)
    margin-right: 16px
    margin-left: 16px

  @media (max-width: 364px)
    margin-right: 10px
    margin-left: 10px

  @media (max-width: 330px)
    margin-right: 8px
    margin-left: 8px

  @media (min-width: 0px) and (max-width: 330px)
    max-width: 270px

  @media (min-width: 331px) and (max-width: 469px)
    max-width: 390px

  @media (min-width: 470px) and (max-width: 575px)
    max-width: 470px

  @media (min-width: 576px) and (max-width: 768px)
    max-width: 540px

  @media (min-width: 768px) and (max-width: 992px)
    max-width: 720px

  @media (min-width: 992px) and (max-width: 1200px)
    max-width: 960px

  @media (min-width: 1441px)
    max-width: 1820px
